$primary_fs: 10px;

$white_bg: #fff;

$services_bg_color: #4bcaff;

$portfolio_text:#515f67;
$portfolio_hover: #4bcaff;

$section_bg_color: #515f67;
$section_btn_color: #353f46;

$twitter_bg_color: #4bcaff;

$testimonials_text_color: #515f67;

$contact_button_color: #4bc9ff;

$footer_text_color: #515f67;
$footer_link_hover: #677880;
$footer_bg_color: #353f47;
$white_text: #fff;
